:root {
    --primary-color: #024b54; 
    --accent-color: #c25c04;  
    --bg-color: #f4f7f7;      
    --card-bg: #ffffff;       
    --text-color: #222222;    
    --completed-color: #c25c04; 
    --white-color: #ffffff;
    --transparent-color: #ffffff00;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-button {
    background-color: var(--transparent-color);
    border: 1px solid var(--transparent-color);
    color: var(--white-color);
    font-size: 2rem;
    cursor: pointer;
}

#main-nav {
    display: none; 
    flex-direction: column;
    background-color: var(--primary-color);
}

#main-nav.open {
    display: flex; 
}

#main-nav a {
    color: var(--white-color);
    text-decoration: none;
    padding: 1rem;
    display: block;
    border-bottom: 2px solid var(--transparent-color);
    text-align: center;
}

#main-nav a:hover, 
#main-nav a.active {
    border-bottom: 2px solid var(--accent-color);
    color: var(--accent-color); 
}

.card {
    background-color: var(--card-bg);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

#course-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.course-card {
    padding: 1rem;
    border: 1px solid #dddddd;
    text-align: center;
    border-radius: 5px;
    background-color: var(--card-bg);
    color: var(--text-color);
}

.course-card.completed {
    background-color: var(--completed-color);
    color: var(--white-color);
    border-color: var(--completed-color);
}

#filter-buttons button {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    border-radius: 4px;
}

#filter-buttons button:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}